img{
    max-width:100%;
    height:auto;
}

#lightgallery img{
    display: inline-block !important; 
}

img.responsively-lazy {
    max-width: 100%;
}

img.responsively-lazy-300{
    max-width: 300px; 
}
 
img.responsively-lazy-600{
    max-width: 600px;
} 

/* loading Google noto webfonts*/
:lang(zh-Hans) {  font-family: 'Noto Sans SC', sans-serif;font-weight: 400;}
:lang(jp) {  font-family: 'Noto Sans JP', sans-serif;font-weight: 400;}
:lang(ko) {  font-family: 'Noto Sans KR', sans-serif;font-weight: 400;}


/* loading lightGallery.io css*/
.lg-sub-html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size:22px !important;
}

/* loading caption.js*/
.captionjs, .captionjs figcaption {
margin: 0 0 20px;
padding: 0;
}
.captionjs figcaption {
font-family: 'Noto Sans TC', sans-serif;
font-size:18px !important;
line-height: 1.1;
padding: 10px 15px;
border: 1px solid #ddd;
border-top: none;
background-color: #eee;
}
.captionjs.stacked figcaption {
background-color: rgba(0, 0, 0, 0.75);
color: #fff;
border: none;
}
.captionjs.animated figcaption {
border-top: 1px solid rgba(255, 255, 255, 0.3);
background-color: rgba(0, 0, 0, 0.75);
color: #fff;
border: none;
}
.captionjs.hide figcaption {
border-top: 1px solid rgba(255, 255, 255, 0.3);
background-color: rgba(0, 0, 0, 0.75);
color: #fff;
border: none;
}
