img{
    max-width:100%;
    height:auto;
}

#lightgallery img{
    display: inline-block !important; 
}

img.responsively-lazy {
    max-width: 100%;
}

img.responsively-lazy-300{
    max-width: 300px; 
}
 
img.responsively-lazy-600{
    max-width: 600px;
} 

/* loading Google noto webfonts*/
:lang(zh-Hans) {  font-family: 'Noto Sans SC', sans-serif;font-weight: 400;}
:lang(jp) {  font-family: 'Noto Sans JP', sans-serif;font-weight: 400;}
:lang(ko) {  font-family: 'Noto Sans KR', sans-serif;font-weight: 400;}


/* loading lightGallery.io css*/
.lg-sub-html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size:22px !important;
}

/* loading caption.js*/
img.caption {
font-family: 'Noto Sans TC', sans-serif;
font-size:22px !important;    
}
